

section.background1
  .row.text-center
    .small-12.large-10.small-centered.columns
      h1 Design Physics & Technologies
      h3 Assisting you to bring great products in the market!
      p Through better products and service design, we give life to ideas that have enduring impact. We match our clients’ business and technology demands with our outstanding talent and expertise.
    .small-6.large-3.columns
      .icon-1
      h5 Research
    .small-6.large-3.columns
      .icon-2
      h5 Design
    .small-6.large-3.columns
      .icon-3
      h5 Engineering
    .small-6.large-3.columns
      .icon-4
      h5 Development
section.background2  
  .row
    .large-6.columns
      h2 Product Development Realized
      p Developing a successful product and bringing it to market is more complicated than ever. We provide integrated research, design and engineering services that help our clients develop innovative meaningful solutions and enhance product quality and user experiences.
      p Our project managers are engineers, designers, researchers and strategists who understand the ins and outs of creating inspiring ideas that become successful products.
      .product
    .gears
      #level
      #content
        #gears
          #gears-static
          #gear-system-1
            #shadow15.shadow
            #gear15
            #shadow14.shadow
            #gear14
            #shadow13.shadow
            #gear13
          #gear-system-2
            #shadow10.shadow
            #gear10
            #shadow3.shadow
            #gear3
          #gear-system-3
            #shadow9.shadow
            #gear9
            #shadow7.shadow
            #gear7
          #gear-system-4
            #shadow6.shadow
            #gear6
            #gear4
          #gear-system-5
            #shadow12.shadow
            #gear12
            #shadow11.shadow
            #gear11
            #shadow8.shadow
            #gear8
          #shadow1.shadow
          #gear1
          #gear-system-6
            #shadow5.shadow
            #gear5
            #gear2
          #shadowweight.shadow
          #chain-circle
          #chain
          #weight
section.background3
  .row.text-center
    .small-12.large-10.small-centered.columns
      h2 Design Life cycle of Physical Products, Fully Managed
      p Developing a successful product and bringing it to market is more complicated than ever. From addressing short-term needs to full turnkey solutions, our experts are available to provide the resources necessary for your project’s success.
    .small-6.large-3.columns
      h5 Industrial Design & Ergonomics
      .icon-1
    .small-6.large-3.columns
      h5 Computer Aided Design
      .icon-2
    .small-6.large-3.columns
      h5 Computer Aided Engineering
      .icon-3
    .small-6.large-3.columns
      h5 Systems Design & Analysis
      .icon-4
section.background4
  .row
    .large-6.columns
      img(src='img/responsive-web.png', alt='Responsive Web Design')
    .large-6.columns
      h2 Responsive Web Design for All Devices
      p Need a web design that looks great on smartphones, tablets, desktops and more? Responsive web design means your website responds to the width of the browser, offering you a single website that looks great on any device!
      p We capture the essence of your company and turn it into a branding suite that really speaks to your customers. We take your brand identity and transform it into a beautiful, unique and powerful website that not only looks great, but is easy to navigate, understand and use, too. 
section.background5
  .row.text-center
    .small-12.large-10.small-centered.columns
      h2 Entire Range of Digital Design & Services
      p We help businesses plan, implement, and evolve their websites and other digital products with exceptional quality
    .small-6.large-3.columns
      h4 Websites
      .icon-1
    .small-6.large-3.columns
      h4 SEO + Analytics
      .icon-2
    .small-6.large-3.columns
      h4 Managed Hosting
      .icon-3
    .small-6.large-3.columns
      h4 Consultation
      .icon-4
section.background6
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h2 Technology &#8594; Meaningful Experiences
        p Thats exactly what we do, utilizing technology to enable meaningful experiences. We design with intent where every detail is considered. Our solutions support the blurring between digital and physical products helping us give a blended use experience.
        .row.text-center
          .small-4.columns
            h5 WHY
            .icon-1
            p We love delighted users
          .small-4.columns
            h5 WHAT
            .icon-2
            p Delivering Brilliant Solutions
          .small-4.columns
            h5 HOW
            .icon-3
            p Collaborating with Stakeholders
section.background7
  .row.text-center
    .small-12.large-10.small-centered.columns
      h2 This is How We Do It
      img(src='img/design_process.svg', alt='Design Process Dephy technologies')
      p It looks straightforward enough, but product design is an iterative process. It often involves getting prototypes in front of users and revising until we get it right. This keeps clients informed and engaged ... and the project on track.
section.involve
  .row.text-center
    h2 Interested, Want to know more?
    p 
      | We are a team of curious professionals, and we are eager to know about you too and help no matter your challenge or industry. Let's get started ...
    a.button(href='contact.html') Get in Touch
    