- var site_url = 'http://dephytech.com'
- var site_name = 'DePhy tech'
- var layout = ''
- var section = ''
- var sidebar_content = ''

block vars

doctype html
html.no-js(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{site_name} - #{page_name}
    link(rel='icon', type='image/png', href='img/favicon.png')
    // build:css css/app.min.css
    link(rel="stylesheet", href="css/app.css")
    // endbuild
    // build:js js/vendor/modernizr.min.js
    script(src="bower_components/modernizr/modernizr.js")
    // endbuild

  body.antialiased.hide-extras
    div
      .inner-wrap
        .progress.fixed
            span.meter
        include topbar
        block index
        .clearfooter
            .row
        .progress.bottom
            span.meter
        include footer
    
    // build:js js/vendor/libraries.min.js
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/fastclick/lib/fastclick.js")
    // endbuild
    // build:js js/vendor/foundation.min.js
    script(src="bower_components/foundation/js/foundation/foundation.js")
    // script(src="bower_components/foundation/js/foundation/foundation.abide.js")
    // script(src="bower_components/foundation/js/foundation/foundation.accordion.js")
    // script(src="bower_components/foundation/js/foundation/foundation.alert.js")
    // script(src="bower_components/foundation/js/foundation/foundation.clearing.js")
    script(src="bower_components/foundation/js/foundation/foundation.dropdown.js")
    script(src="bower_components/foundation/js/foundation/foundation.equalizer.js")
    // script(src="bower_components/foundation/js/foundation/foundation.interchange.js")
    // script(src="bower_components/foundation/js/foundation/foundation.joyride.js")
    // script(src="bower_components/foundation/js/foundation/foundation.magellan.js")
    // script(src="bower_components/foundation/js/foundation/foundation.offcanvas.js")
    script(src="bower_components/foundation/js/foundation/foundation.orbit.js")
    // script(src="bower_components/foundation/js/foundation/foundation.reveal.js")
    script(src="bower_components/foundation/js/foundation/foundation.slider.js")
    // script(src="bower_components/foundation/js/foundation/foundation.tab.js")
    // script(src="bower_components/foundation/js/foundation/foundation.tooltip.js")
    script(src="bower_components/foundation/js/foundation/foundation.topbar.js")
    // endbuild
    // build:js js/app.min.js
    script(src="js/app.js")
    // endbuild
    script(src="js/init.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0]; a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-58214609-1', 'auto');ga('send', 'pageview');
