block vars
  - var page_name='Home'
  - var slug='home'
  - var layout='full'

extends jade/layout

block index
  //Header 
  section.show-for-medium-up.slideshow-wrapper
    .preloader
    ul(data-orbit, data-options='animation:fade; pause_on_hover:true; resume_on_mouseout: true; animation_speed:500; bullets:false;')
      li
        .banner
          img(src='holder.js/2500x450/sky/text:Hello WORLD', alt='slide 1')
      li
        .banner
          img(src='holder.js/2500x450/vine/text:Add \n line breaks \n anywhere.', alt='slide 2')
      li
        .banner
          img(src='holder.js/2500x450/social/text:Hello WORLD', alt='slide 3')
  br
